@import "preloader";

.date_card{
    background: radial-gradient(108.22% 108.23% at 1.87% 100%, #FFFFFF 0%, #FBFBFB 39.83%, #EFEFEF 80.66%, #E6E6E6 100%);
}
.active_li_item{
    background-color:#749ca8;
}
.bg_login{
    background-image: url('../images/login-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
